/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    display: flex;
    flex-direction: row;
     font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    align-content: center;
}